.calculate-section{
    /* left: 40%; */
    // z-index: 38;
    // position: absolute;\
    height: auto;
    width: calc(99vw - 1px);
    margin: 0!important;
    // padding: 10px;
    // opacity: 0.6;
    // border:3px solid #1f415f;
    // border-radius: 4px;
}